<div class="container">
  <div class="content">
  <h2><b><i>Create new task</i></b></h2>
  <br>
  <form [formGroup]="formValidation" >
      <div class="forms">
      <!--task name-->
          <label><b>Task Name<span class="required-indicator">*</span></b></label>
          <br>
          <input type="text" 
           placeholder="Enter task name here..." 
           class="form-control" 
           id="taskName" 
           formControlName="taskName" 
           autocomplete="off"
          >
          <span style="color:red" *ngIf="taskName && taskName.invalid && taskName.touched">
          Task name required!</span>
          <pre></pre>
    
          <!--task description-->
          <label><b>Description<span class="required-indicator">*</span></b></label>
          <br>
          <textarea placeholder="Enter task description here..." 
           class="form-control" 
           id="description" 
           formControlName="taskDescription" 
           autocomplete="off"
          >
          </textarea>
          <span style="color:red" *ngIf="taskDescription && taskDescription.invalid && taskDescription.touched">
          Task description required!</span>
          <pre></pre>
          <label><b>Due Date<span class="required-indicator">*</span></b></label>
          <br>
          <input type="date" 
           [value]="TodayDate" 
           [min]="minValue"
           formControlName="dueDate" 
          >
          <pre></pre>
    
          <!--Status-->
          <label><b>Status<span class="required-indicator">*</span></b></label>
              <div *ngFor="let state of status">
                 <input type="radio"
                 name="statusOfTask"
                 value="{{state.value}}"
                 (change)="radioHandler(state.value)"
                 formControlName="statusOfTask"
                 [checked]="selectedOption"
                 >
                 {{state.indicator}}
                 {{state.value}}
              </div>
              
          <pre></pre>
          
              <div class="buttons">
                  <button mat-raise-button class="btn btn-dark"
                   [disabled]="formValidation.invalid"
                   (click)="onSubmit()"
                  >
                  Done 
                  </button> 
        
                  <button mat-raise-button class="btn btn-light" 
                  style="margin-left: 30px;"
                  (click)="onReset()"
                  > 
                  Reset
                  </button>
        
                  <button mat-raise-button class="btn btn-light" 
                   style="margin-left: 30px;"
                   (click)="onCancel()"
                  > 
                   Cancel 
                  </button>
              </div>
              
  </div>