h2{
    padding-top: 20px;
    text-align: center;
}


.required-indicator{
    color: red;
}

.content{
    width: 50%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;

}